<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/base.css">
  <title><%= title %></title>
</head>
<body>
  <div class="container">
    <h1><%= title %></h1>

    <div id="profile">

    </div>

    <div style="display: flex;">

      <button id="delete" style="margin: auto; color: white; background: red; cursor: pointer; border: none; padding: 5px 9px">
        DELETE ACCOUNT
      </button>

    </div>

  </div>
  <script>
    if (localStorage.getItem('token') == null) {
      location.href = '/admin/login';
    } else {
      fetch('/api/donor/<%= id %>', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'token': localStorage?.token
        }
      }).then(res => res.json())
        .then(data => {
          console.log(data.user);
          document.getElementById('profile').innerHTML = `
            <h3>Name: ${data.user.name}</h3>
            <p>email: ${data.user.email}</p>
            <p>Weight: ${data.user.weight}</p>
            <p>Age: ${data.user.age}</p>
            <p>Phone Number: ${data.user.phone}</p>
            <p>Address: ${data.user.address}</p>
            <p>Vistors: ${data.user.visitors}</p>
            <p>Blood Group: ${data.user.bloodGroupSign} ${data.user.bloodGroupType}</p>
          `;
        })
        .catch(err => {
          console.log(err);
          location.href = '/error?message=Account could not be found';
        });
      
      document.getElementById('delete').addEventListener('click', () => {
        if (!confirm('Are you sure you want to delete this account?')) {
          return;
        }
        fetch('/api/admin/donor', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'token': localStorage?.token
          },
          body: JSON.stringify({
            id: '<%= id %>'
          })
        }).then(res => res.json())
          .then(data => {
            console.log(data);
            alert('Account deleted successfully');
          })
          .catch(err => {
            console.log(err);
            location.href = '/error?message=Account could not be deleted';
          });
      });
    }
  </script>

  <%- include('../common/footer') -%>
</body>
</html>