

<div>
  <h1 style="text-align: center;">
    <%= donor.name %>
  </h1>
  <p>Email: <%= donor.email %></p>
  <p>Age: <%= donor.age %></p>
  <p>Weight: <%= donor.weight %></p>
  <p>Phone Number: <%= donor.phone %></p>
  <p>Blood Group: <%= donor.bloodGroupSign %> <%= donor.bloodGroupType %></p>
  <p>Address: <%= donor.address %></p>
</div>